@{
   ViewData["Title"] = "About";
   var studentName = "Nyla Prince";
   var studentNumber = "101558258";
   var courseCode = "COMP2139";
   var courseSelection = "10:00am";
}

<h1>@ViewData["Title"]</h1>

<div>
   <h1>Welcome to the About Page</h1>
   <p>Student Name: @studentName</p>
   <p>Student Number: @studentNumber</p>
   <p>Course Code: @courseCode</p>
   <p>Course Section: @courseSelection</p>
</div>